<body cdkDroplist>
    <br>
    <p id="titulo">Datos del contacto</p>
    
    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Indicaciones del formulario</label>
                        <input type="text" name="pregunta" id="pregunta" placeholder="Descripción" pattern="">
                    </p> 
                </form>
            </div>
            <div class="content-button">
              
            </div>
        </div>
    </div>

    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Nombre</label>
                        <input type="text" name="pregunta" id="pregunta" placeholder="Nombre del contacto">
                    </p> 
                </form>
            </div>
            <div class="content-button">
                
            </div>
        </div>
    </div>
    
   
    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Correo electronico</label>
                        <input type="text" name="pregunta" id="pregunta" placeholder="example.ex@ex.com">
                    </p> 
                </form>
            </div>
            <div class="content-button">
               
            </div>
        </div>
    </div>

    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Dirección del contacto</label>
                        <input type="text" name="pregunta" id="pregunta" placeholder="Dirección">
                    </p> 
                </form>
            </div>
            <div class="content-button">
               
            </div>
        </div>
    </div>

    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        
                        <input type="text" name="pregunta" id="pregunta" placeholder="Ingrese su pregunta">
                    </p>

                    <p>
                        <label for="pregunta">Telefono</label>
                        <input type="text" name="tel" id="pregunta">
                    </p>
                    <p>
                        <label for="pregunta">Celular</label>
                        <input type="text" name="tel" id="pregunta">
                    </p>
                </form>
            </div>
            <div class="content-button">
               
            </div>
        </div>
    </div>

    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Comentarios</label>
                        <input type="text" name="pregunta" id="pregunta" placeholder="Comentarios">
                    </p> 
                </form>
            </div>
            <div class="content-button">
              
            </div>
        </div>
    </div>
</body>
