<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de contacto-Formulario</title>
    <link rel="stylesheet" href="fromulario-creado1.component.css">
</head>
<body style="background-color: #e7e7e7;">
    <br>
    <p id="titulo">Datos del contacto</p>
    <div id="body">
      
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Descripción formulario">
        <br>
        <br>
        <input type="text" placeholder="Descripción">

    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Nombre">
        <br>
        <br>
        <input type="text" placeholder="Nombre del contacto">
    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Correo electrónico">
        <br>
        <br>
        <input type="email" placeholder="example.ex@ex.com">
    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Dirección del contacto">
        <br>
        <br>
        <input type="text" placeholder="Dirección">
    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Numero de teléfono">
        <br>
        <br>
        <input type="tel" placeholder="XXXX-XXXX">
    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Comentarios">
        <br>
        <br>
        <input type="text" placeholder="Comentarios">
    </div>
</body>
</html>