*{
    margin: 0px;
    padding: 0px;
    
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
html,body{
    background-color: #F1F3F5;
}

p#titulo{
    margin: auto;
    width: 960px;
    margin-top: 40px;
    font-size: 50px;
}
div#body{
    margin: auto;
    width: 810px;
    height: 200px;
    background-color: royalblue;
    border-radius: 7px;
    box-shadow: 0px 2px 4px #B4B4B4;
}

input{
    width:500px;
    height: 35px;
    margin-left: 15px;
    font-size: 20px;
    text-align:left;
    background-color: royalblue;
    border-style: hidden;
    
}

input#titulos{
    background-color: royalblue;
    margin-left: 15px;
    text-align: left;
    font-size: 30px;
    color: #333;
}

input#rb{
    width: 20px;
    height: 25px;
    text-align: center;
    margin-left: 50px;
}
input#opc{
    background-color: royalblue;
    border-style: none;
    
}
::placeholder{
    color:black;
}