<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario-Formulario</title>
    <link rel="stylesheet" href="formularios-creado2.component.css">
</head>
<body style="background-color: #e7e7e7;">
    <p id="titulo">Cuestionario</p>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Nombre">
        <br>
        <br>
        <input type="text" placeholder="Nombre completo">
    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 1">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 2">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 3">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 4">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 5">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 6">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 7">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 8">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 9">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    <div id="body">
        <br>
        <input id="titulos" type="text" placeholder="Pregunta 10">
        <br>
        <input id="rb" type="radio"  value="first_rb"> <input type="text" id="opc" placeholder="Opcion 1"> <br>
        <input id="rb" type="radio"  value="second_rb">  <input type="text"  id="opc" placeholder="Opcion 2"><br>
        <input id="rb" type="radio"  value="third_rb">  <input type="text"  id="opc" placeholder="Opcion 3"><br>
        <input id="rb" type="radio"  value="fourth_rb">  <input type="text"   id="opc" placeholder="Opcion 4"> 

    </div>
    <br>
    
</body>
</html>