
<body>
        <!-- ¿Que son los formularios web?-->
        <section id="info_forms">
            <div class="container">
                <p class="h4">Desarolladores</p>
                <p class="mb-2">La pagina fue diseñada y creada por un grupo de 4 programadores que actualmente cursan la carrera de Ingenieria en Ciencias de la Computación, para la materia de Lenguajes Interpretados por el cliente
                    en la universidad Don Bosco.<br>
                    Los desarrolladores son: </p>
            </div>
        </section>


        <section id="info_forms2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                       
                            <h5>
                                &#8226; Walter Ivan Elias Martinez<br>
                                <h6>EM171890</h6>
                            <br>
                        </h5>
                            <h5>
                                &#8226; Claudia Raquel Cortez Rodezno<br>
                                <h6>CR160471</h6>
                            
                            <br>
                        </h5>
                            <h5>
                                &#8226; Edgar Enrique Milián Rojas<br> 
                                <h6>MR180696</h6>
                            </h5>
                            <br>
                            <h5>
                                &#8226; Erick Adonay García Zepeda<br>
                                <h6>GZ172637</h6>
                            </h5>
                    </div> 
                    <div class="col-md-6">
                        <div class="info-rigth">
                            <img src="assets/images/team.png" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>

       
    <!--footer-->
    <footer>
        <div class="page-footer">
            <div class="footer-copyright text-center py-3" style="color:whitesmoke;">© 2020 Copyright
                <a href="http://www.udb.edu.sv/udb/" style="color: #21A179;"> Universidad Don Bosco</a>
            </div>
        </div> 
    </footer>
      
   
           
