*{
  margin: 0;
  padding: 0;
   
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
  background-color:  #737373;
}

header{

  margin:55px auto;
  width: 1200px;
  height: 180px;
  
}
input#rb{
  width: 15px;
  height: 15px;
  text-align: center;
  margin-left: 5px;
}

div.container{
  width: 160px;
  height: 180px;
  float: left;
  -webkit-transition: height .4s;
}


div#pregunta{
  background-color: rgb(27, 27, 27);
}

div#boton{
  background-color: rgb(27, 27, 27);
}

div#calendario{
  background-color: rgb(27, 27, 27);
}

div#lista{
   background-color: rgb(27, 27, 27);
}

img.icon{
  display: block;
  margin: 20px auto;
  background-color: rgba(255,255,255, 0.15);
  width: 50px; 
  padding: 10px;
 -webkit-border-radius: 30%;
 -webkit-box-shadow: 0px 0px 0px 15px rgba(14, 218, 233, 0);
 -webkit-transition: box-shadow 0.4s;
}

img.icon-content{
  display: block;
  margin: 3px ;
  background-color: rgba(255,255,255, 0.15);
  width: 40px; 
  padding: 5px;
 -webkit-border-radius: 30%;
 -webkit-box-shadow: 0px 0px 0px 15px rgba(14, 218, 233, 0);
 -webkit-transition: box-shadow 0.4s;


}


p.texto
{
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding-top: 10px;
  opacity: 0.6; 
  -webkit-transition: padding-top 0.4s; 
  
}


div.container:hover p.texto{
  padding-top: 30px;
  opacity: 1;
}
div.container:hover img.icon

{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(233, 14, 14, 0.918);
  height:50px ;
}

.content-button:hover img.icon-content{
  -webkit-box-shadow: 0px 0px 0px 0px  rgba(29, 26, 26, 0.918);
}


.content-add > *{
  padding: 1em;
}

.content-add{
  margin-left: 16rem;


}

.content-form{
  background: #524f4f;
   

}

.content-form form{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

.content-form form .block{
  grid-column: 1/3;
}

.content-form form p{
  margin: 0;
  padding: 1em;
  color: #ffffff;

}

.content-form form input{
  width: 90%;
  padding:0.7em ;
  border: none;
  background: none;
  outline: 0;
  color: #ffffff;
  border-bottom: 1px solid  #bb0010;
}

.content-button{
  background: #910000;
  width: 105px;
  
   
}

.content-button img{
  text-align: center;
  margin:  0 0 1rem 0;
}

@media (min-width:700px){
  body{
      padding: 0 2rem;
  }
  .content-add{
      display: grid;
      grid-template-columns: 2fr 1fr ;
  }
  .content-add> *{
      padding: 2em;
  }
}

.content{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  border-radius: 20%;

}













