<header>
    <div class="container" id="pregunta">
        <a id="myBtn">
            <img class="icon" src="assets/images/add.png" (click)="show=true" (click)="btnon=true">
        </a>
        <p class="texto">Agregar Correo Electronico</p>
    </div>

    <div class="container" id="boton">
        <a href="#" id="btn_list">
            <img class="icon" src="assets/images/listing.png">
        </a>
        <p class="texto">Agregar lista</p>
    </div>

    <div class="container" id="calendario">
        <img class="icon" src="assets/images/calendar-interface-symbol-tool.png">
        <p class="texto">Agregar calendario</p>

    </div>

    <div class="container" id="lista">
        <img class="icon" src="assets/images/link.png">
        <p class="texto">Agregar link</p>

    </div>
    <div class="container" id="lista">
        <img class="icon" src="assets/images/image.png">
        <p class="texto">Agregar imagen</p>

    </div>

    <div class="container" id="lista">
        <img class="icon" src="assets/images/combo-box.png">
        <p class="texto">Agregar Combobox</p>

    </div>

    <div class="container" id="lista">
        <img class="icon" src="assets/images/add.png">
        <p class="texto">Agregar pregunta</p>

    </div>

    <div class="container" id="lista">
        <img class="icon" src="assets/images/add.png">
        <p class="texto">Agregar pregunta</p>

    </div>

    <div class="container" id="lista">
        <i class="fas fa-plus-circle"></i>
        <p class="texto">Agregar pregunta</p>


    </div>

</header>

<div class="container-fluid" id="prueba" *ngIf="show">
    <div class="row">
        <p>Pregunta 1</p>
        <div class="col-4">
            <input type="text" class="form-control" name="pruebavalidacion" placeholder="Ingrese su Contraseña" required pattern="[A-Za-z]+" title="solo se aceptan letras">
            
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Numero de Telefono">
            <button (click)="show=!show">Eliminar div</button>
            <button *ngIf="btnon" (click)="showdos=true" (click)="btnon=!btnon">Agregar nueva pregunta</button>
</div>
<div class="container" id="prueba" *ngIf="showdos">
    <input type="text" class="password" placeholder="Contraseña">
    <button (click)="showdos=!showdos">Eliminar div</button>
    <button (click)="showtres=true">Agregar nueva pregunta</button>
    <p>Prueba de ngif 2</p>
</div>

<div class="container" id="prueba" *ngIf="showtres">
    <p>Pregunta 1</p>
    <input type="text" class="password" placeholder="Contraseña">
    <input type="text" placeholder="Numero de Telefono">
    <button (click)="showtres=!showtres">Eliminar div</button>
    <button (click)="showcuatro=true">Agregar nueva pregunta</button>

</div>
<div class="container" id="prueba" *ngIf="showcuatro">
    <p>Pregunta 1</p>
    <input type="text" class="password" placeholder="Contraseña">
    <input type="text" placeholder="Numero de Telefono">
    <button (click)="showcuatro=!showcuatro">Eliminar div</button>
    <button (click)="showdos=true">Agregar nueva pregunta</button>

</div>
<div class="container" id="prueba" *ngIf="showcinco">
    <p>Pregunta 1</p>
    <input type="text" class="password" placeholder="Contraseña">
    <input type="text" placeholder="Numero de Telefono">
    <button (click)="showcinco=!showcinco">Eliminar div</button>
    <button (click)="showdos=true">Agregar nueva pregunta</button>

</div>