<!DOCTYPE html>
<html>

<head>
    <title> Generador de Formularios.</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Creador de formularios web">
    <meta name="author" content="Universidad Don Bosco">
    <link rel="icon" href="src/favicon.png">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--NAVBAR-->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-info link bg-dark fixed-top">
            <a class="navbar-brand" [routerLink]="['/home']">Generador de Formularios Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" [routerLink]="['/home']"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']">Inicio</a>
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/menu-formulario']">Crear formulario</a>
                    </li>
                 <!----  <li class="nav-item">
                        <img src="assets/images/githubLogo.png" style="width: 10%; height: 80%;" > 
                    </li>-->
                </ul>
            </div>
        </nav>
    </div>
    <!--/NAVBAR-->

    
<!--Prueba de componentes-->

<router-outlet></router-outlet>
    

</body>

</html>