<body cdkDroplist>
    br
    <p id="titulo">Inscripción</p>
   
    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Descripción del evento</label>
                        <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion">
                    </p>
                </form>
            </div>
            <div class="content-button">
                <a href="#" id="delete">
                    <img class="icon-content" src="src/delete.png" alt="">

                </a>
            </div>
        </div>
    </div>
    
    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Nombre</label>
                        <input type="text" name="pregunta" id="pregunta" placeholder="Nombre completo">
                    </p> 
                </form>
            </div>
            <div class="content-button">
                <a href="#" id="delete">
                    <img class="icon-content" src="src/delete.png" alt="">

                </a>
            </div>
        </div>
    </div>
    
    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Correo electronico</label>
                        <input type="text" name="pregunta" id="pregunta" placeholder="example@gmail.com">
                    </p> 
                </form>
            </div>
            <div class="content-button">
                <a href="#" id="delete">
                    <img class="icon-content" src="src/delete.png" alt="">

                </a>
            </div>
        </div>
    </div>

    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="">¿Que días asistirá?</label>
                        <br>
                        <br>
                        <input id="check" type="checkbox"  value="first_checkbox"> <input type="text" id="opc" placeholder="Día 1"><br>
                        <input id="check" type="checkbox"  value="second_checkbox"> <input type="text" id="opc" placeholder="Día 2"> <br>
                        <input id="check" type="checkbox"  value="third_checkbox"> <input type="text" id="opc" placeholder="Día 3"> <br>
                    </p>
                </form>
            </div>
            <div class="content-button">
                
                <a href="#" id="delete">
                    <img class="icon-content" src="src/delete.png" alt="">

                </a>
            </div>
        </div>
    </div>
    
    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        
                        <label for="telefono">Contactos</label>
                    </p>

                    <p>
                        <label for="pregunta">Telefono</label>
                        <input type="text" name="tel" id="pregunta">
                    </p>
                    <p>
                        <label for="pregunta">Celular</label>
                        <input type="text" name="tel" id="pregunta">
                    </p>
                </form>
            </div>
            <div class="content-button">
                <a href="#" id="delete">
                    <img class="icon-content" src="src/delete.png" alt="">

                </a>
            </div>
        </div>
    </div>
    
    <div class="content" cdkDrag>
        <div class="content-add">
            <div class="content-form">
                <form action="">
                    <p class="block">
                        <label for="pregunta">Comentarios</label>
                        <input type="text" name="comentario" id="comentario" placeholder="Comentarios">
                    </p> 
                </form>
            </div>
            <div class="content-button">
                <a href="#" id="delete">
                    <img class="icon-content" src="src/delete.png" alt="">

                </a>
            </div>
        </div>
    </div>
</body>