<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción a un evento-Formulario</title>
    <link rel="stylesheet" href="formulario-creado3.component.css">
</head>
<body style="background-color: #e7e7e7;">
    <p id="titulo">Inscripción a un evento</p>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Descripción del evento">
        <br>
        <br>
        <input type="text" placeholder="Descripción">

    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Nombre del postulante">
        <br>
        <br>
        <input type="text" placeholder="Nombre">
    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Correo electrónico">
        <br>
        <br>
        <input type="text" placeholder="Dirección de correo electrónico del contacto">
    </div>
    <br>
    <div id="body">
        <br>
        
        <input id="titulos" type="text" placeholder="¿Que días asistirá?">
        <br>
        <input id="check" type="checkbox"  value="first_checkbox"> <input type="text" id="opc" placeholder="Día 1"><br>
        <input id="check" type="checkbox"  value="second_checkbox"> <input type="text" id="opc" placeholder="Día 2"> <br>
        <input id="check" type="checkbox"  value="third_checkbox"> <input type="text" id="opc" placeholder="Día 3"> <br>
    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Número de teléfono">
        <br>
        <br>
        <input type="tel" id="tel" placeholder="XXXX-XXXX">
    </div>
    <br>
    <div id="body">
        <br>
        <br>
        <input id="titulos" type="text" placeholder="Comentarios">
        <br>
        <br>
        <input type="text" placeholder="Comentarios">
        <br>
    </div>
    <br>
</body>
</html>